.films__data {
	
}

/* SEARCH */
.search {
	margin-bottom: 20px;
}

.search__input {
	padding: 5px;
	font-size: 20px;
}

.search__button {
	padding: 5px 10px;
	font-size: 20px;
}


/* TABLE */
.table {
	width: 100%;
	border: none;
	margin-bottom: 20px;
}
.table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
	text-transform: uppercase;
}
.table tbody td {
	text-align: left;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
.table thead tr th:first-child, .table tbody tr td:first-child {
	border-left: none;
}
.table thead tr th:last-child, .table tbody tr td:last-child {
	border-right: none;
}
.table tbody tr{
	background: #e6e6e6;
}

.film__data-row {
	position: relative;
}

.film__title {
	font-size: 18px !important;
}

.film__description {
	overflow-y: auto;
	display: inline-block;
	padding: 5px;
	max-height: 250px;
	width: 100%;
	font-size: 18px !important;
}
.film__year {
}
.film__rating {
}
.film__poster{
	width: 200px;
}

.film__poster img {
	width: 100%;
}

.film__genre {

}
.film__age {
}

.control__buttons {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.control__buttons button {
	padding: 10px;
}